<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bucket Besties</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    

    <style>
        
        #jumbo-container{
            background-color: black;
            color: white;
            margin: 0 18em;
            opacity: .85;
        }
        #sign-up-creds, #log-out-p{
            display: none;
        } 
        .more-margin{
            margin: 0 .25em .25em 0;
        }
        .list-btn{
            width: 8em;
        }
        .jumbotron{
            background-image: url(https://i.ytimg.com/vi/AV48vINy134/maxresdefault.jpg);
            background-size: cover;
        }
        textarea{
            width: 25em;
        }
        body{
            background-color: light-grey;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <div id="jumbo-container">
            <h1 class="display-4 text-center">Bucket Besties!</h1>
            <p class="lead text-center">Grab a bestie and explore the world... before it's too late!</p>
            <p id="username" class="text-center"></p>
            <p id="log-out-p" class="text-center"><a id="log-out" href="#">Log Out</a></p>
        </div>
    </div>

    {{{body}}}

    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>
    <script src="https://cdn.firebase.com/libs/geofire/5.0.1/geofire.min.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyD5i1UUd3-n2_0PpSKh0-ZCLVL2pQUsQ0I",
            authDomain: "bucket-besties.firebaseapp.com",
            databaseURL: "https://bucket-besties.firebaseio.com",
            projectId: "bucket-besties",
            storageBucket: "bucket-besties.appspot.com",
            messagingSenderId: "90867095766",
            appId: "1:90867095766:web:a446325a4f2c3709b8d177"
        }
        firebase.initializeApp(firebaseConfig)
        const auth = firebase.auth()
        const db = firebase.firestore()
    </script>
    <script src="/js/auth.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>